*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
}
.i-1 img{
    display: block;
    margin: auto;
    width: 150px;
    height: 130px;
    padding-top: 5px;
}
.d-1{
    background-color: rgb(107, 120, 102);
    width: 1200px;
    margin: auto;
    height: 200px;
    margin-top: 20px;
}
.d-1 img{
    width: 150px;
    margin-left: 30px;
    margin-top: 25px;
}
.d-2{
    background-color: rgb(72, 81, 69);
    width: 1200px;
    margin: auto;
    height: 200px;
    margin-top: 20px;
}
.d-2 img{
    width: 150px;
    margin-left: 30px;
    margin-top: 55px;
}
.d-3{
    background-color: rgb(37, 41, 35);
    width: 1200px;
    margin: auto;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.d-3 img{
    width: 350px;
    display: block;
    margin: auto;
    padding: 25px;
}
.p-1 p{
    display: inline-flex;
    float: left;
    margin-left: 200px;
    margin-top: -100px;
    color:white;
}
.p-2 p{
    display: inline-flex;
    float: left;
    margin-left: 200px;
    margin-top: -80px;
    color: white;
}
.p-3 p{
    display: inline-flex;
    float: left;
    margin-left: 200px;
    margin-top: -10px;
    color: white;
}
.link .fa{
    text-decoration: none;
    color: red;
    margin: 5px;
    cursor: alias;
}
.link button{
    border-radius: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 200px;
    margin-top: -40px;
    background-color: white;
    width: 100px;
    height: 40px;
}
button:hover{
    background-color: bisque;
    transition: 0.5s ease-in-out;
}
.l-2 .fa{
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
}
.l-2 .fa-linkedin{
    margin-left: 535px;
    margin-top: 30px;
}
.l-2 .fa:hover{
    background-color: bisque;
    transition: 0.6s ease-in-out;
}
